<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <form (submit)="search($event)" class="col-md-12">
            <div class="form-group col-md-7">
                <input class="form-control" placeholder="Search article by title..." (change)="inputToProp($event)" name="article" id="article" type="text">
            </div>
            <div class="form-group">
                <input class="btn btn-primary col-md-4" type="submit" value="Search">
            </div>
        </form>
        <div *ngIf="articles">
            <div>Found {{articles.length}} articles</div>
            <app-articles [articles]="articles"></app-articles>
        </div>
        <div *ngIf="!articles?.length" class="col-md-12">
            <h1 class="text-center">Categories</h1>
            <ul>
                <li *ngFor="let category of categories"><a routerLink="/category/{{category}}">{{category}}</a></li>
            </ul>
        </div>

    </div>
</div>
