<div class="container">
  <div class="alert alert-success" *ngIf="messageOnSuccess">{{messageOnSuccess}}</div>
    <div class="col-md-6 col-md-offset-3">
        <h1>Login</h1>
        <form (ngSubmit)="save()" [formGroup]="loginForm" >
            <div *ngFor="let controlName of controlsNames" class="form-group" [ngClass]="{'has-error': error.get(controlName)}">
                <label for="{{controlName}}">{{controlName | splitByCapital | capitalize}}</label>
                <input type="{{controlName==='password'?'password':'text'}}"
                       [class.form-control]="controlName!=='loginAfterRegister'" id="{{controlName}}"
                       formControlName="{{controlName}}"
                       (click)="controlName==='loginAfterRegister'?checkBoxChangeValue($event):undefined">
                <div class="alert alert-danger absolute" *ngIf="error.get(controlName)">
                    {{error.get(controlName) | splitByCapital:true | capitalize}}
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </div>
        </form>
    </div>
</div>
